<%- include("../partials/header")%>
<%- include("../partials/navbar")%>



<div class="container" style="margin-top:3rem;width:80vw">
  <form class="validated-form" action="/single" method="POST" enctype='multipart/form-data' style="max-width:70%;margin:10px auto" novalidate>
   
    <div class="mb-3">
      <label for="img" class="form-label">Select File</label>
      <input type="file" class="form-control" id="img" placeholder="Video File" name="image" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

   
    <button type="submit" class="btn btn-success">Upload</button>
  <!-- </form>
            <form class="validated-form" action="/blog" method="POST" style="max-width:70%;margin:10px auto" novalidate>
                <div class="mb-3">
                  <label for="name" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" placeholder="Product Name" name="blog[title]" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div> -->
                <!-- <div class="mb-3">
                  <label for="img" class="form-label">Upload Video</label>
                  <input type="file" class="form-control" id="img" placeholder="Video File" name="blog[img]" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div> -->
                <!-- <div class="mb-3">
                    <label for="price" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" placeholder="Author" name="blog[author]" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div> -->
        
                <!-- <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea class="form-control" id="text" cols="30" rows="5" name="blog[text]" required></textarea>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
               
                <button type="submit" class="btn btn-success">Submit</button>
              </form>
        
   
</div> -->


<%- include("../partials/footer")%>