<!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #264653;">
    <div class="container-fluid"> -->
      <header class="header">
        <a href="/" class= "navbar-brand" style="color:black;">
          <h3>CypherSchool Studio</h3> 
        </a>
        <form class="search-bar">
          <input class="search-input" type="search" placeholder="Search" aria-label="Search" />
          <button type="submit" class="search-btn">
            <img src="img/search.svg" />
          </button>
        </form>
        <div class="menu-icons">

          <a href="/new">
            <img src="img/upload.svg" alt="upload" />
          </a>
          <%if(!currentUser){%>
          <a href="/login" style="font-weight: bold; text-decoration: none; color: black">
            LOGIN
          </a>
          <%}else{%>
            <a href="#">
              <img  src="img/account.svg" alt="Your Channel" />
            </a>
          <a href="/logout" style="font-weight: bold; text-decoration: none; color: black">
            LOGOUT
          </a>
          <%} %> 

         

        </div>
      </header>
        
    <!-- </div>
  </nav> -->